# API
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_APP_NAME=CIL

# Authentication
NEXT_PUBLIC_JWT_STORAGE_KEY=cil_auth_token

# External Services
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_name

# Analytics (optional)
NEXT_PUBLIC_GA_ID=

# Environment
NEXT_PUBLIC_ENV=development
